<div class="wrap">
  <h2>Приложение "Список задач"</h2>
  <p>Это учебное приложение написанное при использовании фрейморка Angular. В приложении реализован следующий функционал:</p>
  <ul class="square" type="square" role="list">
    <li>Выводится список текущих задач. Для этого эмулируется запрос к серверу, на котором размещен json файл со списком.</li>
    <li>По мере выполнения задач, их можно отметить, как выполненные</li>
    <li>Реализована возможность удаления задачи из списка</li>
    <li>Реализована возможность добавления задачи в список</li>
    <li>Добавлена фильтрация/поиск по названию</li>
    <li>Реализована навигация посредством роутинга</li>
    <li>В приложении используется авторизация пользователя, которая даёт возможность просматривать список задач.</li>
    <li>Страница со списком защищена посредством использования Guard</li>
    <li>Также реализовано ограничение доступа к бэкенду приложения, если у пользователя нет соответствующих прав. Для этого используется  отдельный структурный элемент Http Interseptor</li>
  </ul>
</div>

