  div {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;

    input {
      margin-right: 1rem;
    }

    small {
      position: absolute;
      right: 50px;
      bottom: 9px;
      font-size: 0.8rem;
    }

    .done {
      text-decoration: line-through;
    }

    .rm {
      margin-left: 1rem;
      $color: coral;
      border-radius: 50%;
      background-color: $color;
      font-size: 1rem;
      border: none;
      width: 20px;
      height: 20px;
      transition: .3s all;
      cursor: pointer;

      &:hover {
        background-color: darken($color, 20%);
      }
    }

  }
