.wrap {
  margin-top: 1rem;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;

  h2 {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }

  p {
    font-size: 0.8rem;
  }
}
